<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ToDo</title>
        <script type="text/javascript" src="js/vue1.js">
        </script>
        <link rel="stylesheet" href="css/semantic.css"  media="screen" title="no title" charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway" rel="stylesheet">
        <style type="text/css">
            body {
            background-color: #FDFDFD;
            }
            .ui.very.padded.segment.container {
            width: 500px;
            position: relative;
            transform: translate(0,-50%);
            top:30%;
            }
            .remove.icon {
            color: #EAEBEB;
            }
            .ui.very.padded.container {
            width: 500px;
            }
        </style>
    </head>
    <body id=app>
        <div class="ui very padded container">
            <div class="ui text menu">
                <div class="header item" style="font-size:20px;">
                    <i class="checkmark box icon"></i>
                    我 To Do
                </div>
            </div>
            <div class="ui divider">
        </div>


        </div>
        <div class="ui very padded segment container">
            <div class="ui action fluid input">
                <input v-model="newtask" type="text" placeholder="添加新任务">
                <button v-on:click="addnew(newtask)" class="ui icon basic button">
                    <i class="plus icon" style="color:#666666"></i>
                </button>
            </div>

            <div class="ui relaxed divided list">
              <div v-for="task in tasks" class="item" v-if="task.show">

                  <div class="left floated">
                    <input  type="checkbox" v-on:click="task.co = !task.co">
                  </div>
                    <div class="right floated content">
                      <a v-on:click="task.show = false">
                        <i class="remove icon"></i>
                      </a>
                    </div>
                    <p v-if="task.co" style="font-size:14px;">{{ task.names }}</p>
                    <p v-else style="font-size:14px;"><s>{{ task.names }}</s></p>

              </div>
            </div>
        </div>

        <script>
        var vm =new Vue({
          el:"#app",
          data:{
            tasks:[
            {names:"分享学习笔记",co:true,show:true},
            {names:"修改Bug",co:true,show:true},
            {names:"提交全栈课程的作业",co:true,show:true},
            {names:"整理明日的学习计划",co:true,show:true},
            {names:"想吃西瓜",co:true,show:true},
                  ],
               },
               methods:{
                 addnew:function(message){
                   if(message==""){
                     alert("请不要添加空任务");
                   }
                   else{
                     this.tasks.push({names:message,co:true,show:true});
                   }
                 },
               }

        })

        </script>

    </body>
</html>
