.block-1{
  border: solid 2px blue;
    /*边框，实心，厚度，颜色*/
  margin: 0 0 20px 0;
  padding:0 0 0 20px;
  background: tomato;
/*背景色，可以使用RGB*/
  box-sizing:border-box;
  width: 64px;
  height: 64px;
}

.block-2{
  border: dotted 2px blue;
  margin-bottom: 20px;
  padding:0 0 0 20px;
  /*边框，点，厚度，颜色*/
  background : green;
  box-sizing:border-box;
  width: 128px;
  height: 64px;
}

.block-3{
  border: solid 2px blue;
  margin-bottom: 20px;
  padding:0 0 0 20px;
  background: rgb(101, 211, 235);
  box-sizing:border-box;
  width: 192px;
  height: 64px;
}
